//
// Variables
// --------------------------------------------------
//==Colors
$main-color: #39bbdb;
$main-color-2: #2dc3e8;
$body-color: #e9eaed;
$grey: #f8f7f5;
$grey-bold: #bcb3aa;
$grey-bolder: #89817f;
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$toggler: #e4e4e4;
