:local(.transactionHistory) {
    margin-top: 7rem !important;
    margin-bottom: 3.5rem !important;
    padding: 0 30px;

    .ReactTable .rt-thead.-headerGroups{
        background: #8fe9ff;
    }
    .ReactTable .rt-thead.-header{
        background: #d1f0ff;
    }
    .ReactTable .rt-tbody{
        background: #fff;
    }
    .ReactTable .pagination-bottom{
        background: #fff;
    }
}
