:local(.transactionHistory) {
    margin-top: 6.2rem !important;
    padding: 0 30px;

    .Bot {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .ReactTable .rt-thead.-headerGroups{
        background: #007bff;
    }
    .ReactTable .rt-thead.-header{
        background: #d1f0ff;
    }
    .ReactTable .rt-tbody{
        background: #fff;
    }
    .ReactTable .pagination-bottom{
        background: #fff;
    }

    a.page-link:hover{
        background-color: #007bff !important;
        color: white !important;
    }
}
