:local(.transactionHistory) {
    margin-top: 7rem !important;
    margin-bottom: 3.5rem !important;

    .ReactTable .rt-thead {
        overflow-y: scroll;
    }
    .ReactTable .rt-thead.-headerGroups{
        background: #00b0ff;
    }
    .ReactTable .rt-thead.-header{
        background: #a4e2ff;
    }
    .ReactTable .rt-tbody{
        background: #fff;
    }
    .ReactTable .pagination-bottom{
        background: #fff;
    }
}