@import "../../styles/variables.scss";

:local(.header){
  .navbar{
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background: white !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    .navbar-brand{
      padding: 0 !important;
      img{
        width: 100px;
      }
    }
    .navbar-toggler{
      background: $toggler;
    }
    .navbar-toggler-icon{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .nav-item{
      margin-right: 10px;
    }
  }
  .dropdown-toggle{
    &:after{
      border-top: 0.5em solid;
      border-right: .4em solid transparent;
      border-bottom: 0;
      border-left: .4em solid transparent;
      margin-top: 9px;
    }
  }
  .dropdown-item{
    &:active{
      background-color: $main-color !important;
      a{
        color: white;
      }
    }
    a{
      color: black;
    }
  }
}
