:local(.following){
.tab-content {
    padding: 30px 15px 15px 15px;
    background-color: #fff;
}

.fade {
	opacity: 0;
	transition: opacity .15s linear;
	&.in {
		opacity: 1;
	}
}

.user-following {
	position: relative;
	margin-bottom: 40px;
	img {
		border-radius: 2px;
		width: 40px;
	}
	a {
		font-size: 1.1em;
		line-height: 1;
	}
	.username {
		font-size: 0.9em;
		line-height: 1.5;
	}
	.btn {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 92px;
	}
}

.text-muted {
    color: #777777;
}

.media-left, .media>.pull-left {
    padding-right: 10px;
}

.media-body {
	display: table-cell;
	vertical-align: top;
	width: 10000px;
	overflow: hidden;
	zoom: 1;
}
.media-left {
	display: table-cell;
	vertical-align: top;
}
.media-right {
	display: table-cell;
	vertical-align: top;
}
.media {
	overflow: hidden;
	zoom: 1;
}

.pull-right {
    float: right!important;
}

.btn-sm {
	font-size: 12px;
	padding: 4px 9px;
	line-height: 1.39;
}
}