@import "../../styles/variables.scss";

:local(.createAccount){
  .create-account{
    margin: 0;
    margin-top: 100px;
    margin-bottom: 70px;
    justify-content: center;
    .step{
      padding: 20px 30px;
      background: white;
      border-radius: 15px;
      h4{
        text-align: center;
        margin-bottom: 20px;
      }
    }
    h2{
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      font-weight: bold;
    }
    .control-area{
      margin-top: 30px;
      margin-bottom: 100px;
      display: block;
      span{
        font-size: 18px;
        font-weight: bold;
        padding: 10px 65px;
        background: #2dc3e8 !important;
        border-color: #2dc3e8 !important;
        &:active{
          background: #0da7ce !important;
          border-color: #0da7ce !important;
        }
        i{
          font-size: 14px;
        }
      }
    }
  }
}
